.Slider{
    
    padding-top: 2px;
    padding-bottom: 5px;
}
.Categorybox{
    padding-top: 20px;
    padding-bottom: 20px; 
}

.Card1{
    padding-top: 20px;
    padding-bottom: px; 
    padding-right:20px;

}

.Card{
    padding-top: 20px;
    padding-bottom: 50px; 
    padding-right:210px;
}

